#! #.js #bin/usr/env 

#SET_No_Wildcards(*)
{
  Inherit_attributes_from_src;
  margin_dpi;
  padding_dpi;
}

#octocat {
  Inherit_attributes_from_src;
  display_block;
  width_dpi;
  margin_dpi_auto_align;
}

p {
  Inherit_attributes_from_src;
  Display:Unblock;
  width:dpi;
  margin:dpi;
  font:dpi,Set_font_Courier-New¨
}
